In [1]:
import pandas as pd
from utilities.features_helper_functions import scale_input_features
from utilities.csv_helper_functions import read_sample_file_to_df, write_df_to_csv_file

In [2]:
BENIGN_SOURCE_DIR = "../../../Data/test_data/strings_labelled/test_benign_samples_strings.csv"
MALICIOUS_SOURCE_DIR = "../../../Data/test_data/strings_labelled/test_malicious_samples_strings.csv"
BENIGN_DEST_DIR = "../../../Data/test_data/strings_scaled/test_benign_strings_scaled.csv"
MALICIOUS_DEST_DIR = "../../../Data/test_data/strings_scaled/test_malicious_strings_scaled.csv"

In [3]:
benign_samples_df = read_sample_file_to_df(BENIGN_SOURCE_DIR)
malicious_samples_df = read_sample_file_to_df(MALICIOUS_SOURCE_DIR)

In [4]:
b_samples_df = benign_samples_df.loc[:, benign_samples_df.columns != "label"]
m_samples_df = malicious_samples_df.loc[:, malicious_samples_df.columns != "label"]

In [5]:
benign_labels = benign_samples_df["label"].tolist()
malicious_labels = malicious_samples_df["label"].tolist()
col_names = benign_samples_df.columns

In [6]:
benign_samples_numpy = b_samples_df.to_numpy()
malicious_samples_numpy = m_samples_df.to_numpy()

In [7]:
benign_scaled = scale_input_features(255, benign_samples_numpy, benign_labels)
malicious_scaled = scale_input_features(255, malicious_samples_numpy, malicious_labels)

In [8]:
benign_scaled_df = pd.DataFrame(data=benign_scaled, columns=col_names)
malicious_scaled_df = pd.DataFrame(data=malicious_scaled, columns=col_names)

In [9]:
benign_scaled_df.head()

,char_0,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,...,char_87,char_88,char_89,char_90,char_91,char_92,char_93,char_94,char_95,label
0,122,8,2,0,5,7,3,0,11,4,...,15,18,25,3,0,4,1,2,0,0
1,142,23,28,30,88,28,12,17,25,43,...,60,66,56,19,51,25,8,43,34,0
2,25,0,2,0,15,2,0,0,1,1,...,33,75,31,4,0,2,0,0,1,0
3,8,1,4,3,67,0,1,0,1,1,...,23,10,23,3,0,0,1,0,0,0
4,39,13,15,17,13,6,5,10,5,19,...,41,22,64,29,24,9,25,12,13,0

In [10]:
malicious_scaled_df.head()

,char_0,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,...,char_87,char_88,char_89,char_90,char_91,char_92,char_93,char_94,char_95,label
0,234,71,48,30,142,120,105,96,121,53,...,12,80,37,110,26,90,37,58,29,1
1,132,4,9,1,12,2,2,15,6,0,...,25,18,30,5,4,2,0,3,0,1
2,95,3,7,1,5,1,1,3,5,4,...,6,6,7,3,3,3,5,4,4,1
3,197,7,13,10,8,7,0,6,8,91,...,33,18,27,13,6,1,3,1,12,1
4,47,0,0,0,20,5,0,5,2,0,...,21,24,30,2,2,1,1,0,2,1

In [11]:
write_df_to_csv_file(benign_scaled_df, BENIGN_DEST_DIR)
write_df_to_csv_file(malicious_scaled_df, MALICIOUS_DEST_DIR)