In [2]:
import pandas as pd
from utilities.csv_helper_functions import read_sample_file_to_df, write_df_to_csv_file

In [ ]:
TEST_MALICIOUS_HISTOGRAMS = "../../Data/test_data/byte_histograms_scaled/test_malicious_histograms_scaled.csv"
TEST_MALICIOUS_ENTROPY_HISTOGRAMS = "../../Data/test_data/entropy_histograms_scaled/test_malicious_entropy_histograms_scaled.csv"
TEST_MALICIOUS_STRINGS = "../../Data/test_data/strings_scaled/test_malicious_strings_scaled.csv"
TEST_MALICIOUS_SECTIONS = "../../Data/test_data/sections_scaled/test_malicious_sections_scaled.csv"
TEST_MALICIOUS_DEST_DIR = "../../Data/test_data/test_features_merged_scaled/malicious_test_features_scaled.csv"

In [3]:
malicious_histograms_df = read_sample_file_to_df(TEST_MALICIOUS_HISTOGRAMS)
malicious_entropy_histograms_df = read_sample_file_to_df(TEST_MALICIOUS_ENTROPY_HISTOGRAMS)
malicious_strings_df = read_sample_file_to_df(TEST_MALICIOUS_STRINGS)
malicious_sections_df = read_sample_file_to_df(TEST_MALICIOUS_SECTIONS)

In [5]:
malicious_histograms_df.head()

,byte_0,byte_1,byte_2,byte_3,byte_4,byte_5,byte_6,byte_7,byte_8,byte_9,...,byte_247,byte_248,byte_249,byte_250,byte_251,byte_252,byte_253,byte_254,byte_255,label
0,54733,8020,5960,5467,5567,4804,4058,5236,4875,5440,...,3132,4208,2932,3079,2764,3883,2996,4083,4360,1
1,181499,1549,825,1002,1178,524,438,493,1084,465,...,325,590,285,231,237,622,265,516,5906,1
2,9265,1054,980,929,1573,820,877,1062,1031,892,...,912,986,1036,932,831,904,889,974,2681,1
3,23040,1360,905,817,937,547,708,517,1646,535,...,471,648,414,1083,647,706,466,634,6355,1
4,420993,4244,2765,2888,3587,1592,1608,1245,10190,558,...,644,6176,475,951,546,6247,854,1815,36977,1

In [6]:
del malicious_entropy_histograms_df["label"]
del malicious_strings_df["label"]
del malicious_sections_df["label"]

In [7]:
test_join = pd.concat([malicious_histograms_df, malicious_entropy_histograms_df, malicious_strings_df, malicious_sections_df], axis=1)

In [8]:
test_join.head()

,byte_0,byte_1,byte_2,byte_3,byte_4,byte_5,byte_6,byte_7,byte_8,byte_9,...,size_193,vsize_193,size_194,vsize_194,size_195,vsize_195,size_196,vsize_196,size_197,vsize_197
0,54733,8020,5960,5467,5567,4804,4058,5236,4875,5440,...,0,0,0,0,0,0,0,0,0,0
1,181499,1549,825,1002,1178,524,438,493,1084,465,...,0,0,0,0,0,0,0,0,0,0
2,9265,1054,980,929,1573,820,877,1062,1031,892,...,0,0,0,0,0,0,0,0,0,0
3,23040,1360,905,817,937,547,708,517,1646,535,...,0,0,0,0,0,0,0,0,0,0
4,420993,4244,2765,2888,3587,1592,1608,1245,10190,558,...,0,0,0,0,0,0,0,0,0,0

In [9]:
write_df_to_csv_file(test_join, TEST_MALICIOUS_DEST_DIR)